body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	background: #000;
}

::selection {
	background: #665195;
}

h2 {
	font-family: 'Baloo Bhaina', san-serif;
	font-size: 1.8em;
	line-height: 90%;
}

a {
	color: #fff;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

a:hover {
	color: #ccc;
}

a:visited {
	color: #fff;
}

.head {
	margin: 0;
	padding: 0;
}

.head-graphic {
	height: 350px;
	background-image: url("images/starrysky-final.gif");
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}

#head-logo {
	margin-bottom: 40px;
	width: 220px;
}

.navbar {
	background-color: #665195;
	text-align: center;
	font-size: 1.2em;
	height: auto;
	z-index: 1;
}

.fa-bars,
.fa-times {
	font-size: 1.5em;
	margin: 15px 0;
	cursor: pointer;
}

.nav {
	padding: 0;
	margin: 0;
	height: 0px;
	overflow: hidden;
}

.show-nav {
	height: auto;
}

.nav li {
	padding: 15px 0;
}

.nav li a {
	font-family: 'Bowlby One SC', sans-serif;
	text-decoration: none;
	padding: 0 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
	letter-spacing: 2px;
}

.menu-toggle div {
	width: 20px;
	height: 6px;
	margin: 2px 0;
	background-color: #fff;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.margin-fix {
	margin-top: 60px;
}

.hero {
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero-home {
	background-image: url("images/jeremy-perkins-uhjiu8FjnsQ-unsplash-overlay.jpg");
	background-attachment: fixed;
}

.hero-attractions {
	background-image: url("images/attractions2-header.jpg");
	background-position: top 38% center;
}

.hero-lineup {
	background-image: url("images/lineup-header.jpg");
	background-position: top 40% center;
}

.hero-faq {
	background-image: url("images/faq-header.jpg");
	background-position: top 25% center;
}

.hero-rules {
	background-image: url("images/rules-header.jpg");
	background-position: top 35% center;
}

.hero-home,
.hero-attractions,
.hero-lineup,
.hero-faq,
.hero-rules {
	font-family: 'Bowlby One SC', san-serif;
	letter-spacing: 2px;

}

.hero-overlay {
	position: absolute;
	width: 100%;
	height: 300px;
	background: rgba(0,0,0,.4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero-text {
    font-size: 2.5em;
	text-shadow: 2px 1px 1px rgba(0,0,0,.8);
}

.hero-btn {
	font-family: 'Bowlby One SC', san-serif;
	text-decoration: none;
	color: #fff;
	background: rgba(0,0,0,.8);
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.hero-btn:hover {
	color: #000;
	border: 1px solid #000;
	background: #fff;
}

.about {
	background: #000;
	padding: 30px 0;
	position: relative;
}

.about p {
	width: 60%;
	padding: 20px;
	margin: 0 auto;
	line-height: 120%;
	color: #eee;
	background-size: 100%;
	background-position: center;
}

.grid {
	display: flex;
	flex-direction: row;
}

.grid-left,
.grid-right {
	margin: 0;
	padding: 0;
	width: 50%;
	height: 300px;
	display: inline-block;
	background: #fff;
	position: relative;
}

.grid-left {
	background-image: url("images/nav1.jpg");
	background-size: cover;
	background-position: center;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.grid-right {
	background-image: url("images/nav2.jpg");
	background-size: cover;
	background-position: center;
	border-top: 1px solid #000;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 300px;
	background: rgba(0,0,0,.6);
}

.grid-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 300px;
}

.cont-text {
	font-family: 'Baloo Bhaina', san-serif;
	font-size: 2em;
	font-weight: 500;
	text-shadow: 2px 1px 1px rgba(0,0,0,.8);
	padding: 0 10%;
	text-align: center;
}

.grid-btn {
	font-family: 'Bowlby One SC', san-serif;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
	padding: 10px 15px;
	margin-top: 15px;
	border: 1px solid #fff;
	border-radius: 5px;
	background: rgba(0,0,0,.8);
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.grid-btn:hover {
	color: #000;
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}

.subpage {
	background: #000;
}

.content {
	width: 80%;
	color: #ccc;
	padding: 20px 0;
	margin: 0 auto;
}

.question {
	margin: 30px 0 0 0;
}

.answer {
	margin: 2% 0 5% 5%;
}

.title {
	position: relative;
	margin: 40px 0 20px;
	max-width: 500px;
	width: 100%;
}

.title-img {
	border-radius: 5px;
	width: 100%;
	max-width: 400px;
}

.title-h2 {
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0,0,0,.8);
	font-size: 2.4em;
	margin: 0;
	display: inline;
	position: absolute;
	bottom: 10px;
	right: 0;
}

.content ul {
	margin-bottom: 45px;
}

.content li {
	margin-bottom: 10px;
}

form {
	color: #665195;
	/*display: inline-block;*/
	width: 100%;
	max-width: 405px;
	margin: 0 auto;
	margin-top: 5%;
}

form h2 {
	text-align: center;
	font-size: 2.3em;
}

.form-content {
	max-width: 366px;
	margin: 0 auto;
}

.form-field {
	text-align: right;
	vertical-align: top;
}

.form-field input,
.form-field textarea {
	width: 250px;
	padding: 10px 15px;
	border-radius: 10px;
	border: 2px solid #665195;
	color: #fff;
	font-size: .9em;
	font-family: 'Ubuntu', san-serif;
	background: none;
	margin: 0 0 15px 10px;
}

.form-field textarea {
	vertical-align: top;
}


.send {
	text-align: center;
}

.send button {
	padding: 11px 30px 5px 30px;
	background: #665195;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 1.3em;
	font-family: 'Baloo Bhaina', san-serif;
	line-height: 20px;
	margin: 0 auto;
	text-transform: uppercase;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.send button:hover {
	background: #0F83FB;
}

.success h2 {
	font-size: 3em;
	margin-bottom: 0;
}

.success p {
	margin-bottom: 30px;
}

.cr-info {
	height: 60px;
	background: #665195;
	border-top: 1px solid #000;
	font-size: .8em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social {
	height: 120px;
	background-image: url("images/jeremy-perkins-uhjiu8FjnsQ-unsplash-overlay.jpg");
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.social-left,
.social-right,
.social-middle {
	flex: 1
	padding: 0 5%;
}

#ftr-logo {
	max-width: 100px;
}

#ftr-logo:hover {
	opacity: .7;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.social-right {
	text-align: right;
	font-size: 2em;
}

.fab {
	padding: 0 10px;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.fab:hover {
	color: #c2c2c2;
	cursor: pointer;
}

.ft-tix-btn {
	font-family: 'Bowlby One SC', san-serif;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
	display: inline-block;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.ft-tix-btn:hover {
	color: #ccc;
}

.ft-tix-btn::before {
	content: "";
	display: block;
	width: 0;
	height: 3px;
	background: #0F83FB;
	transition: width .3s;
	-o-transition: width .3s;
	-moz-transition: width .3s;
	-webkit-transition: width .3s;
}

.ft-tix-btn:hover::before {
	width: 100%;
}


@media only screen and (min-width: 800px) {

	.navbar {
		height: 60px;
		background-color: #665195;
		display: flex;
		flex-direction: row;
	    justify-content: space-between;	
	    justify-content: center;
	    align-items: center;
	}

	.nav {
		padding: 0;
		height: auto;
	}

	.width-fix {
		width: 10%;
	}

	.menu-toggle {
		display: none;
	}

	.nav ul {
		/*line-height: 60px;*/
		text-align: center;
		padding: 0;
	}

	.nav li {
		cursor: pointer;
		display: inline-block;
		padding: 0;
	}

	.nav li a {
		font-family: 'Bowlby One SC', sans-serif;
		display: inline-block;
		text-decoration: none;
		padding: 0 20px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.6);
		letter-spacing: 2px;
	}

	.nav li a:hover {
		color: rgba(255,255,255,.9);
	}

	.nav li a::after {
		content: "";
		display: block;
		width: 0;
		height: 3px;
		background: #0F83FB;
		transition: width .3s;
		-o-transition: width .3s;
		-moz-transition: width .3s;
		-webkit-transition: width .3s;
	}

	.nav li a:hover::after {
		width: 100%;
	}

}

@media only screen and (max-width: 850px) and (min-width: 800px) {

	.navbar {
		font-size: 1.1em;
	}

	.nav li a {
		padding: 0 10px;
	}

}

@media only screen and (max-width: 800px) {

	h2 {
		font-size: 1.3em;
	}

	.head-graphic {
		background-size: auto 350px;
	}

	#head-logo {
		margin-bottom: 10px;
		width: 200px;
	}

	.hero-home {
		background-size: auto 300px;
		background-position: center;
		background-attachment: scroll;
	}

	.hero-text {
		font-size: 1.5em;
	}

	.about p {
		width: 90%;
	}

	.grid {
		flex-direction: column;
	}

	.grid-left,
	.grid-right {
		width: 100%;
	}

	.title-img {
		max-width: 250px;
	}

	.title-h2 {
		font-size: 1.6em;
	}

	form {
		margin-top: 20%;
	}

	form h2 {
		font-size: 2em;
	}

	.form-field input,
	.form-field textarea {
		width: 150px;
	}

	.social {
		flex-direction: column;
		height: auto;
	}

	.social-left,
	.social-right,
	.social-middle {
		width: 100%;
		text-align: center;
		padding: 3% 0 0;
	}

	.social-right {
		padding-bottom: 3%;
	}

	#ftr-logo {
		width: 80px;
	}

} 
