body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	background: #000;
}

::selection {
	background: #665195;
}

h2 {
	font-family: 'Baloo Bhaina', san-serif;
	font-size: 1.8em;
	line-height: 90%;
	margin: 5% 0 3%;
}

h3 {
	font-family: 'Baloo Bhaina', san-serif;
	line-height: 90%;
	font-size: 1.5em;
}

h4 {
	font-family: 'Baloo Bhaina', san-serif;
	line-height: 90%;
	font-size: 1.3em;
}

a {
	color: #fff;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

a:hover {
	color: #ccc;
}

a:visited {
	color: #fff;
}

.head {
	margin: 0;
	padding: 0;
}

.head-graphic {
	height: 350px;
	background-image: url("images/starrysky-final.gif");
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}

#head-logo {
	margin-bottom: 40px;
	width: 220px;
}

.navbar {
	background-color: #665195;
	z-index: 1;
}

.top-nav {
	height: 0;
	overflow: hidden;
	padding: 0 8%;
	background-color: #665195;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.show-top-nav {
	height: auto;
	padding-top: 1%;
}

.nav-tix a {
	font-family: 'Bowlby One SC', san-serif;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	text-decoration: none;
	color: #fff;
	background: #2C0C5D;
	padding: 10px 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.nav-tix a:hover {
	background: rgb(15,131,251);
}

.nav-logo {
	text-align: center;
}

.nav-social {
	text-align: right;
	font-size: 1.4em;
}

.nav-links {
	text-align: center;
	font-size: 1.2em;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.fa-bars,
.fa-times {
	font-size: 1.5em;
	margin: 15px 0;
	cursor: pointer;
}

.nav {
	padding: 0;
	margin: 0;
	height: 0;
	overflow: hidden;
}

.show-nav {
	height: auto;
}

.nav li {
	padding: 15px 0;
}

.nav li a {
	font-family: 'Bowlby One SC', sans-serif;
	text-decoration: none;
	padding: 0 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
	letter-spacing: 2px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.margin-fix {
	margin-top: 170px;
}

.hero {
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.constellation {
	background-image: url("images/jeremy-perkins-uhjiu8FjnsQ-unsplash-overlay.jpg");
	background-attachment: fixed;
}

.hero-attractions {
	background-image: url("images/attractions2-header.jpg");
	background-position: top 38% center;
}

.hero-lineup {
	background-image: url("images/lineup-header.jpg");
	background-position: top 40% center;
}

.hero-faq {
	background-image: url("images/faq-header.jpg");
	background-position: top 25% center;
}

.hero-rules {
	background-image: url("images/rules-header.jpg");
	background-position: top 35% center;
}

.hero-home,
.hero-attractions,
.hero-lineup,
.hero-faq,
.hero-rules {
	font-family: 'Bowlby One SC', san-serif;
	letter-spacing: 2px;

}

.hero-overlay {
	position: absolute;
	width: 100%;
	height: 300px;
	background: rgba(0,0,0,.4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero-text {
    font-size: 2.5em;
	text-shadow: 2px 1px 1px rgba(0,0,0,.8);
}

.hero-btn {
	font-family: 'Bowlby One SC', san-serif;
	text-decoration: none;
	color: #fff;
	background: rgba(0,0,0,.8);
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.hero-btn:hover {
	color: #000;
	border: 1px solid #000;
	background: #fff;
}

.about {
	/*background: #000;*/
	padding: 1% 0;
	position: relative;
}

.ab-overlay {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ab-overlay p {
	background: #1D0443;
	width: 30%;
	margin: 0 auto;
	line-height: 120%;
	color: #eee;
	background-size: 100%;
	background-position: center;
	margin: 0 4% 5%;
	border-radius: 10px;
	padding: 3%;
	display: flex;
	align-items: center;
}

.grid {
	display: flex;
	flex-direction: row;
}

.grid-left,
.grid-right {
	margin: 0;
	padding: 0;
	width: 50%;
	height: 300px;
	display: inline-block;
	background: #fff;
	position: relative;
}

.grid-left {
	background-image: url("images/nav1.jpg");
	background-size: cover;
	background-position: center;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.grid-right {
	background-image: url("images/nav2.jpg");
	background-size: cover;
	background-position: center;
	border-top: 1px solid #000;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 300px;
	background: rgba(0,0,0,.6);
}

.grid-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 300px;
}

.cont-text {
	font-family: 'Baloo Bhaina', san-serif;
	font-size: 2em;
	font-weight: 500;
	text-shadow: 2px 1px 1px rgba(0,0,0,.8);
	padding: 0 10%;
	text-align: center;
}

.grid-btn {
	font-family: 'Bowlby One SC', san-serif;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
	padding: 10px 15px;
	margin-top: 15px;
	border: 1px solid #fff;
	border-radius: 5px;
	background: rgba(0,0,0,.8);
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.grid-btn:hover {
	color: #000;
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}

.subpage {
	background: #000;
}

.content {
	width: 80%;
	color: #ccc;
	padding: 5% 0;
	margin: 0 auto;
}

.question {
	margin: 8% 0 0 0;
}

.answer {
	margin: 2% 0 5% 5%;
}

.title {
	position: relative;
	margin: 40px 0 20px;
	max-width: 500px;
	width: 100%;
}

.title-img {
	border-radius: 5px;
	width: 100%;
	max-width: 400px;
}

.title-h2 {
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0,0,0,.8);
	font-size: 2.4em;
	margin: 0;
	display: inline;
	position: absolute;
	bottom: 10px;
	right: 0;
}

.content ul {
	/*margin-bottom: 45px;*/
}

.content li {
	margin-bottom: 10px;
}

form {
	color: #665195;
	/*display: inline-block;*/
	width: 100%;
	max-width: 405px;
	margin: 0 auto;
	margin-top: 5%;
}

form h2 {
	text-align: center;
	font-size: 2.3em;
}

.form-content {
	max-width: 366px;
	margin: 0 auto;
}

.form-field {
	text-align: right;
	vertical-align: top;
}

.form-field input,
.form-field textarea {
	width: 250px;
	padding: 10px 15px;
	border-radius: 10px;
	border: 2px solid #665195;
	color: #fff;
	font-size: .9em;
	font-family: 'Ubuntu', san-serif;
	background: none;
	margin: 0 0 15px 10px;
}

.form-field textarea {
	vertical-align: top;
}


.send {
	text-align: center;
}

.send button {
	padding: 11px 30px 5px 30px;
	background: #665195;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 1.3em;
	font-family: 'Baloo Bhaina', san-serif;
	line-height: 20px;
	margin: 0 auto;
	text-transform: uppercase;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.send button:hover {
	background: #0F83FB;
}

.success h2 {
	font-size: 3em;
	margin-bottom: 0;
}

.success p {
	margin-bottom: 30px;
}

.ticket-tier-container {
	display: flex;
	flex-direction: row;

}

.ticket-tier {
	background: #2C0C5D;
	width: 30%;
	padding: 2%;
	margin: 2%;
	border-radius: 10px;
	border: 3px #665195 dotted;
}

.ticket-tier h3,
.ticket-tier h4 {
	color: #B4A8D0;
	text-align: center;
	margin: 0;
}

.tier-btn {
	text-align: center;
}

.tier-btn a {
	font-family: 'Bowlby One SC', san-serif;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	text-decoration: none;
	display: inline-block;
	color: #fff;
	background: #665195;
	padding: 8px 20px;
	margin: 10px auto 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.tier-btn a:hover {
	background: rgb(15,131,251);
}

.cr-info {
	height: 60px;
	background: #665195;
	border-top: 1px solid #000;
	font-size: .8em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social {
	height: 80px;
	background-image: url("images/jeremy-perkins-uhjiu8FjnsQ-unsplash-overlay.jpg");
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.social-left,
.social-right {
	flex: 1;
	padding: 0 5%;
}

#logo {
	max-width: 100px;
}

#logo:hover {
	opacity: .7;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.social-right {
	text-align: right;
	font-size: 2em;
}

.fab {
	padding: 0 10px;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.fab:hover {
	color: #c2c2c2;
	cursor: pointer;
}

.ft-tix-btn {
	font-family: 'Bowlby One SC', san-serif;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
	display: inline-block;
	transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.ft-tix-btn:hover {
	color: #ccc;
}

.ft-tix-btn::before {
	content: "";
	display: block;
	width: 0;
	height: 3px;
	background: #0F83FB;
	transition: width .3s;
	-o-transition: width .3s;
	-moz-transition: width .3s;
	-webkit-transition: width .3s;
}

.ft-tix-btn:hover::before {
	width: 100%;
}

@media only screen and (max-width: 1050px) {

	.ticket-tier-container {
		flex-direction: column;
	}

	.ticket-tier {
		margin: 2% auto;
		padding: 4%;
		width: 40%;
	}

}

@media only screen and (min-width: 800px) {

	.top-nav div {
		width: 32%;
	}

	.nav-links {
		height: 60px;
		background-color: #665195;
		display: flex;
		flex-direction: row;
	    justify-content: space-between;	
	    justify-content: center;
	    align-items: center;
	}

	.nav {
		padding: 0;
		height: auto;
	}

	.width-fix {
		width: 10%;
	}

	.menu-toggle {
		display: none;
	}

	.nav ul {
		/*line-height: 60px;*/
		text-align: center;
		padding: 0;
	}

	.nav li {
		cursor: pointer;
		display: inline-block;
		padding: 0;
	}

	.nav li a {
		font-family: 'Bowlby One SC', sans-serif;
		display: inline-block;
		text-decoration: none;
		padding: 0 20px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.6);
		letter-spacing: 2px;
	}

	.nav li a:hover {
		color: rgba(255,255,255,.9);
	}

	.nav li a::after {
		content: "";
		display: block;
		width: 0;
		height: 3px;
		background: #0F83FB;
		transition: width .3s;
		-o-transition: width .3s;
		-moz-transition: width .3s;
		-webkit-transition: width .3s;
	}

	.nav li a:hover::after {
		width: 100%;
	}

}

@media only screen and (max-width: 850px) and (min-width: 800px) {

	.nav-links {
		font-size: 1.1em;
	}

	.nav li a {
		padding: 0 10px;
	}

}

@media only screen and (max-width: 800px) {

	h2 {
		/*font-size: 1.4em;*/
	}

	.head-graphic {
		background-size: auto 350px;
	}

	#head-logo {
		margin-bottom: 10px;
		width: 200px;
	}

	.hero-home {
		background-size: auto 800px;
		background-position: center;
		background-attachment: scroll;
	}

	.hero-text {
		font-size: 1.5em;
	}

	.top-nav {
		justify-content: space-between;
	}

	.show-top-nav {
		padding: 1% 2% 0;
	}

	.nav-tix {
		order: 2;
		font-size: .8em;
		width: 40%;
		text-align: center;
	}

	.nav-tix a {
		padding: 8px 8px;
	}

	.nav-logo {
		order: 1;
		text-align: left;
		width: 28%;
	}

	.nav-social {
		width: 28%;
		order: 3;
	}

	.menu-toggle {
		display: inline-block;
		margin: 2%;
		cursor: pointer;
		transition: .3s;
		-o-transition: .3s;
		-moz-transition: .3s;
		-webkit-transition: .3s;
	}

	.bar1,
	.bar2,
	.bar3 {
		width: 35px;
		height: 5px;
		margin: 6px auto;
		border-radius: 3px;
		background-color: #fff;
		transition: .3s;
		-o-transition: .3s;
		-moz-transition: .3s;
		-webkit-transition: .3s;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-8px, 6px);
		-moz-transform: rotate(-45deg) translate(-8px, 6px);
		-o-transform: rotate(-45deg) translate(-8px, 6px);
		transform: rotate(-45deg) translate(-8px, 6px);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		-moz-transform: rotate(45deg) translate(-8px, -8px);
		-o-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}

	.margin-fix {
		margin-top: 160px;
	}

	.about p {
		width: 90%;
	}

	.grid {
		flex-direction: column;
	}

	.grid-left,
	.grid-right {
		width: 100%;
	}

	.title-img {
		max-width: 250px;
	}

	.title-h2 {
		font-size: 1.6em;
	}

	form {
		margin-top: 20%;
	}

	form h2 {
		font-size: 2em;
	}

	.form-field input,
	.form-field textarea {
		width: 150px;
	}

	.social {
		flex-direction: column;
		height: auto;
	}

	.social-left,
	.social-right,
	.social-middle {
		width: 100%;
		text-align: center;
		padding: 3% 0 0;
	}

	.social-right {
		padding-bottom: 3%;
	}

	#logo {
		width: 80px;
	}

} 

@media only screen and (max-width: 700px) {

	.ab-overlay {
		flex-direction: column;
		justify-content: center;
	}

	.ab-overlay p {
		width: 70%;
		padding: 4%;
		margin: 5% auto;
	}

	.ticket-tier {
		margin: 4% auto;
		padding: 5%;
		width: 80%;
	}

}

@media only screen and (max-width: 400px) {

	.margin-fix {
		margin-top: 140px;
	}

}
